[Desktop Entry]
Type=Application
Version=1.0
# Do not translate the word "Ubuntu 12.04.3 LTS".  It is used as a marker by casper.
Name=Install Ubuntu 12.04.3 LTS
Name[am]=የተለቀቀውን መግጠሚያ
Name[ar]=ثبّت Ubuntu 12.04.3 LTS
Name[ast]=Instalar Ubuntu 12.04.3 LTS
Name[be]=Усталяваць Ubuntu 12.04.3 LTS
Name[bg]=Инсталиране на Ubuntu 12.04.3 LTS
Name[bn]=Ubuntu 12.04.3 LTS ইনস্টল করুন
Name[bs]=Instaliraj izdanje
Name[ca]=Instal·la la versió Ubuntu 12.04.3 LTS
Name[cs]=Nainstalovat Ubuntu 12.04.3 LTS
Name[da]=Installér Ubuntu 12.04.3 LTS
Name[de]=Ubuntu 12.04.3 LTS installieren
Name[el]=Εγκατάσταση Ubuntu 12.04.3 LTS
Name[eo]=Instali Ubuntu 12.04.3 LTS
Name[es]=Instalar Ubuntu 12.04.3 LTS
Name[et]=Paigalda Ubuntu 12.04.3 LTS
Name[eu]=Instalatu Ubuntu 12.04.3 LTS
Name[fi]=Asenna Ubuntu 12.04.3 LTS
Name[fr]=Installer  Ubuntu 12.04.3 LTS
Name[ga]=Suiteáil Ubuntu 12.04.3 LTS
Name[gl]=Instalar Ubuntu 12.04.3 LTS
Name[gu]=રિલીઝ નું સ્થાપન કરો.
Name[he]=התקנת Ubuntu 12.04.3 LTS
Name[hi]=प्रकाशन को संस्थापित करें
Name[hr]=Instaliraj Ubuntu 12.04.3 LTS
Name[hu]=Ubuntu 12.04.3 LTS telepítése
Name[id]=Pasang Ubuntu 12.04.3 LTS
Name[it]=Installa Ubuntu 12.04.3 LTS
Name[ja]=Ubuntu 12.04.3 LTS のインストール
Name[ka]=Ubuntu 12.04.3 LTS-ის დაყენება
Name[kk]=Ubuntu 12.04.3 LTS орнату
Name[km]=ដំឡើង​ឯកសារ​ចេញ​ផ្សាយ
Name[ko]=Ubuntu 12.04.3 LTS 설치
Name[ku]=Ubuntu 12.04.3 LTS saz bike
Name[lt]=Įdiegti Ubuntu 12.04.3 LTS į kompiuterį
Name[lv]=Instalēt Ubuntu 12.04.3 LTS
Name[mk]=Инсталирај Ubuntu 12.04.3 LTS
Name[ml]=Ubuntu 12.04.3 LTS സജ്ജമാക്കുക
Name[mr]=स्थापित Ubuntu 12.04.3 LTS
Name[nl]=Ubuntu 12.04.3 LTS installeren
Name[pa]=Ubuntu 12.04.3 LTS ਰੀਲਿਜ਼
Name[pl]=Zainstaluj Ubuntu 12.04.3 LTS
Name[pt]=Instalar Ubuntu 12.04.3 LTS
Name[pt_BR]=Instalar o Ubuntu 12.04.3 LTS
Name[ro]=Instalare Ubuntu 12.04.3 LTS
Name[ru]=Установить Ubuntu 12.04.3 LTS
Name[sk]=Inštalovať Ubuntu 12.04.3 LTS
Name[sl]=Namesti Ubuntu 12.04.3 LTS
Name[sq]=Instalo Ubuntu 12.04.3 LTS
Name[sr]=Инсталирајте Ubuntu 12.04.3 LTS
Name[sv]=Installera Ubuntu 12.04.3 LTS
Name[ta]=Ubuntu 12.04.3 LTSஐ நிறுவு
Name[th]=ติดตั้ง Ubuntu 12.04.3 LTS
Name[tl]=Iluklok ang Ubuntu 12.04.3 LTS
Name[tr]=Ubuntu 12.04.3 LTS Kur
Name[uk]=Встановити Ubuntu 12.04.3 LTS
Name[vi]=Cài đặt Ubuntu 12.04.3 LTS
Name[zh_CN]=安装 Ubuntu 12.04.3 LTS
Name[zh_TW]=安裝 Ubuntu 12.04.3 LTS
Comment=Install this system permanently to your hard disk
Comment[am]=ይኼን ሲስተም ሀርድ ዲስክዎ ላይ በቋሚነት ይጫኑት
Comment[ar]=ثبّت هذا النظام على القرص الصلب
Comment[ast]=Instalar permanentemente esti sistema nel to discu duru
Comment[be]=Усталяваць сістэму на жорсткі дыск
Comment[bg]=Инсталиране на тази система за постоянно на твърдия диск
Comment[bn]=এই সিস্টেমটি আপনার হার্ডডিস্কে স্থায়ীভাবে ইনস্টল করুন।
Comment[bs]=Instaliraj ovaj sistem trajno na hard disk
Comment[ca]=Instal·leu aquest sistema permanentment al vostre disc dur
Comment[cs]=Nainstalovat tento systém natrvalo na váš disk
Comment[da]=Installér dette system permanent på din harddisk
Comment[de]=Dieses System dauerhaft auf der Festplatte installieren
Comment[el]=Εγκαταστήστε αυτό το σύστημα μόνιμα στο σκληρό σας δίσκο
Comment[eo]=Instali ĉi tiun sistemon daŭre en via disko
Comment[es]=Instalar este sistema permanentemente en su disco duro
Comment[et]=Paigalda see süsteem jäädavalt oma kõvakettale
Comment[eu]=Sistema hau betiko instalatu disko gogorrean
Comment[fi]=Asenna tämä järjestelmä pysyvästi kiintolevyllesi
Comment[fr]=Installer ce système de façon permanente sur votre disque dur
Comment[ga]=Suiteáil an córas seo go buan ar do chruadhiosca
Comment[gl]=Instalar o sistema de xeito permanente no disco ríxido
Comment[gu]=આ સિસ્ટમ તમારી હાર્ડ ડિસ્ક પર હંમેશ માટે સ્થાપિત કરો
Comment[he]=התקנת המערכת באופן קבוע על הכונן הקשיח
Comment[hi]=इस तंत्र को आपके हार्ड डिस्क में स्थायी रूप से संस्थापित करें
Comment[hr]=Trajno instaliraj sustav na čvrsti disk
Comment[hu]=A rendszer telepítése merevlemezre
Comment[id]=Memasang sistem ini secara permanen pada diska Anda
Comment[it]=Installa questo sistema in modo permanente sul disco rigido
Comment[ja]=このシステムをハードディスクにインストールします
Comment[ka]=მოცემული სისტემის მყარ დისკზე ჩაყენება
Comment[kk]=Осы жүйені қатқыл дискіңізге тұрақты орнату
Comment[km]=ដំឡើង​ប្រព័ន្ធ​នេះ​ជា​អចិន្ត្រៃយ៍​ទៅ​កាន់​ថាស​រឹង​របស់​អ្នក
Comment[ko]=이 시스템을 당신의 하드 디스크에 설치합니다.
Comment[ku]=Sîstemê di hard dîskê xwe de saz bike
Comment[lt]=Įdiegti Linux operacinę sistemą į kompiuterio (standųjį) diską
Comment[lv]=Instalēt šo sistēmu cietajā diskā
Comment[mk]=Инсталирајте го системот трајно на Вашиот тврд диск
Comment[ml]=സ്ഥിരമായി ഹാര്‍ഡ് ഡിസ്കിലേക്ക് ഇന്‍സ്റ്റാള്‍ ചെയ്യുക
Comment[mr]=ही प्रणाली कायमची तुमच्या हार्ड डिस्कवर स्थापित करा
Comment[ne]=यो प्रणाली तपाईको हार्ड डिस्कमा स्थाई रुपमा प्रतिस्थापन गर्नुहोस्
Comment[nl]=Dit systeem definitief op uw harde schijf installeren
Comment[pa]=ਇਹ ਸਿਸਟਮ ਪੱਕੇ ਤੌਰ ਉੱਤੇ ਆਪਣੀ ਹਾਰਡ ਡਿਸਕ ਉੱਤੇ ਇੰਸਟਾਲ
Comment[pl]=Instaluje system na dysku twardym
Comment[pt]=Instalar este sistema permanentemente no seu disco rígido
Comment[pt_BR]=Instalar este sistema de maneira permanente no seu disco rígido
Comment[ro]=Instalați acest sistem pe discul calculatorului
Comment[ru]=Установить эту систему на жёсткий диск
Comment[sk]=Nainštalovať systém natrvalo na pevný disk
Comment[sl]=Trajno namesti sistem na trdi disk
Comment[sq]=Instalo këtë sistem përgjithmonë në Hard Disk
Comment[sr]=Инсталирајте овај систем трајно на ваш чврсти диск
Comment[sv]=Installera detta system permanent på din hårddisk
Comment[ta]=இந்த நிலையை நிரந்தரமாக தங்களது கணினியில் நிறுவுக
Comment[th]=ติดตั้งระบบนี้อย่างถาวรลงบนฮาร์ดดิสก์ของคุณ
Comment[tl]=Iluklok ng permanente ang systema sa iyong hard disk
Comment[tr]=Bu sistemi sabit diskinize kalıcı olarak kurun
Comment[uk]=Встановити цю систему на жорсткий диск
Comment[vi]=Cài hệ thống vào đĩa cứng
Comment[zh_CN]=将这个系统永久安装在您的硬盘上
Comment[zh_TW]=將此系統安裝到您的硬碟中
Exec=ubiquity --desktop %k gtk_ui
Icon=ubiquity
Terminal=false
Categories=GTK;System;Settings;
OnlyShowIn=GNOME;XFCE;Unity;
#X-Ubuntu-Gettext-Domain=ubiquity-desktop
X-Ayatana-Appmenu-Show-Stubs=False
